.menu {
  height: 100vh;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.menu h3 {
  color: orange;
  text-align: center;
}

.menu h1 {
  font-family: "Averia Serif Libre", serif;
  text-align: center;
  font-size: 46px;
}

.menu-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.menu-select {
  width: 150px;
  height: 35vh;
  border: none;
  padding: 10px;
  border-left: 2px solid rgb(189, 185, 185);
  outline: none;
  padding-bottom: 10px;
  line-height: 2px;
  transition: border-left 0.3s ease, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu-select:hover {
  border-left: 2px solid orange; /* Change left border to orange on hover */
}

.menu-select:focus {
  transform: translateX(-20px); /* Move select to the left slightly */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  outline: none;
}

/* Optional: Style for hovered option text */
.menu-select option:hover {
  color: orange; 
  border-left: 2px solid orange;
}

.menu-cards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.menu-card {
  width: 15rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.menu-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  border-bottom: 3px solid rgb(83, 128, 0);
}

.menu-card img {
  max-height: 100px;
  object-fit: cover;
  margin-top: 10px;
  transition: filter 0.3s;
}

.menu-card:hover img {
  filter: blur(2px);
}

.menu-card-title {
  margin-top: 10px;
  font-size: 18px;
  color: black;
}

.menu-card-icons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
  color: orange;
}

.menu-card-text {
  margin-top: 5px;
  color: green;
  font-weight: bold;
}

.menu-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 24px;
  color: black;
  margin-left: 750px;
}
